:root {
  --global-staggered-delay: 0.15;
  --global-staggered-opacity-duration: 0.9;
  --global-staggered-translate-y: 30px;
  --global-staggered-translate-y-duration: 0.7;
  --global-staggered-translate-scale: 0.95;
  --global-staggered-translate-scale-duration: 0.7;
  --global-viewport-content-responsive: 87.5vw;
  --global-animation-easing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes welcomeFadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes welcomeMoveIn {
  0% {
    transform: translateY(var(--global-staggered-translate-y));
  }

  to {
    transform: translateY(0);
  }
}

@keyframes welcomeScaleUp {
  0% {
    transform: scale(var(--global-staggered-translate-scale));
  }

  to {
    transform: scale(1);
  }
}

.welcomeanimation {
  color: #ff0000;
  animation: welcomeFadeIn, welcomeMoveIn, welcomeScaleUp;
  animation-duration: calc(var(--global-staggered-opacity-duration) * 1s),
    calc(var(--global-staggered-translate-y-duration) * 1s),
    calc(var(--global-staggered-translate-scale-duration) * 1s);
  animation-timing-function: var(--global-animation-easing-function);
  animation-fill-mode: both;
}
